.result {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    width: 300px;
    height: 150px;
    margin: 35px auto auto;
    border: 1px solid white;
    border-radius: 10px;
    background-color: #f8eb84;
}

.error {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    width: 300px;
    height: 150px;
    margin: 35px auto auto;
    border: 1px solid red;
    border-radius: 10px;
    background-color: #f8eb84;
    transition: 0.2s;
}
.finalResult {
    color: #ff3700;
}